.git
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
node_modules
frontend/node_modules
frontend/dist
*.md
*.log
tmp/
.vscode
.idea
vendor/
backend/vendor/
.github/
.agent/
brain/
